.header {
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #E66420;
  padding: 1rem;
  height: 40px;
}

/* Estilos para dispositivos mólives */
@media all and (max-width: 700px) {


  /* Ocultar el nav en la parte izquiera */
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #E66420;
    transform: translateX(-100vw);
    transition: 0.5s;
  }

  .tituloDev {
    padding: 10vh 0;
    text-align: center;
    color: yellow;
  }

  .developers {
    padding: 10vh 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    gap: 5px;
    margin: 40px;

  }

  /* Mostrar el nav */
  .nav--show {
    transform: translateX(0);

  }

  .nav__button {
    text-align: right;
    margin: 1rem;

  }

  .nav__ul {
    list-style: none;
    padding: 0;
    margin: 0;

  }

  .nav__link {
    display: block;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }

  /* Estilo del footer*/
  .footer,
  .fg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: #E66420;
  }

  .socialIcons {
    display: flex;
    gap: 10px;
  }

  .socialIcons img {
    width: 40px;
  }

  #search {

    width: 320px;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #ccc;
    background-image: url('./recursos/search-50.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 30px;
  }

  .iconoBuscador {
    width: 30px;
    height: 30px;
    margin-left: -40px;
    margin-top: 75px;
    position: absolute;
    z-index: -1;
  }

  .banner {
    display: flex;
    justify-content: space-around;
    background-image: url('./recursos/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
  }

  .imagenBanner {
    margin-top: 10px;



  }

  .textoNoticias {
    display: none;
  }

  .btnServicios {
    visibility: hidden;
    width: 90px;
    height: 20px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 180px;
    margin-left: -210px;
    border-radius: 50px;
    background-color: #157FE6;
    position: absolute;
    text-align: center;
    padding: 10px;
  }


  /* ********** Estilos de Productos movil ********** */

  .products {
    background-color: #157FE6;
    height: 70rem;
  }

  .products-title {
    color: white;
    text-align: center;
    padding: 4rem 0 4rem 0;
  }

  .total-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    height: 40rem;
  }

  .cards {
    display: flex;
    justify-content: space-between;
    background-color: white;
    /* margin: 0rem 8rem 0rem 8rem; */
    width: 90%;
    height: 20%;
    border-radius: 4%;
    box-shadow: rgb(71, 71, 151) 1px 1px 6px 2px;


  }

  .card-img {
    width: 50%;
    /* height: 20%; */
  }

  .card-img img {
    width: 75%;
    align-items: center;
    margin: 1rem;
    box-shadow: lightgray 0px 6px 5px 4px;
    border-radius: 10px;
  }

  .card-description {
    font-size: 7px;
    /* margin-top: 1.5rem; */
  }

  .card-description h4 {
    color: #157FE6;
  }


  .stars-cotainer img {
    width: 5%;
  }

  .add-cart {
    display: flex;
    justify-content: space-between;
    background-color: #157FE6;
    width: 36%;
    color: white;
    padding-left: 0.7rem;
    margin-top: .2rem;
    border-radius: 5px;
  }

  .card-img {
    border-radius: 20%;
  }

  .add-cart img {
    color: #157FE6;
    width: 10%;
  }

  .add-cart p {
    color: white;
  }

  .add-cart a {
    text-decoration: none;
  }


  /* ********** Fin Estilos de Productos movil ********** */



  /* sección ultimas noticias -- CSS MOVIL  (max-width: 700px)*/

  .ultNoticias {
    width: 86%;
    margin: 60px auto;
    text-align: center;
    box-sizing: border-box;

  }

  .ultNoticias_titulo {
    color: #157FE6;
  }

  .contenedorNoticias {
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 8px;


  }

  .noticias {
    width: 48%;
    border: solid 1px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 0px 5px 1px rgb(202, 200, 200);
  }

  .noticias p {
    font-size: 0.7rem;

  }

  .noticias a {
    text-decoration: none;

  }

  .noticias a:link,
  .noticias a:visited {
    color: #E66420;

  }


  .imagen_noticias {
    width: 94%;
    padding: 4px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;

  }

  .pieNoticias {
    display: flex;
    justify-content: space-around;
    font-size: 0.6rem;

  }

  .btn_ultNoticias__footer {
    margin: 25px 0;
    padding: 3px;
    border-radius: 5px;
  }

  .noticias h6 {
    margin: 3px 0;
    color: #E66420;
  }

  .iconos-s {
    width: 30px;
  }

  .pieNoticias__left {
    color: #157FE6;
  }

  /* FIN sección ultimas noticias -- CSS MOVIL*/

  /*FORMULARIO MOBILE VERSION*/

  .container {
    width: 100%;
    padding: 0 auto;
  }

  .col-25 {
    width: 100%;
    margin-left: 15px;
  }

  .contenedorFormulario {
    border: 1px solid #E66420;
    border-radius: 10px;
    width: 90%;
    padding: 1em 1em 1em 1em;
  }

  input[type=submit] {
    background: #E66420;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 1em;
    width: 100%;
    padding: 0.5em 0 0.5em 0;
  }

  input[type=text],
  input[type=email],
  textarea {
    width: 90%;
    border: 1px solid black;
    margin: 1em 1em 1em 1em;
    padding: 0.5em;
    border-radius: 10px;
  }

  textarea {
    margin-bottom: 5%;
    min-height: 100px;
    font-size: 0.9em;
  }



  /* Mostrar el nav */
  .nav--show {
    transform: translateX(0);

  }

  .nav__button {
    text-align: right;
    margin: 1rem;

  }

  .nav__ul {
    list-style: none;
    padding: 0;
    margin: 0;

  }

  .nav__link {
    display: block;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }

  #search {
    margin-top: 70px;
    width: 320px;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #ccc;
    background-image: url('./recursos/search-50.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 30px;
  }

  .iconoBuscador {
    width: 30px;
    height: 30px;
    margin-left: -40px;
    margin-top: 75px;
    position: absolute;
    z-index: -1;
  }

  .banner {
    display: flex;
    justify-content: space-around;
  }

  .imagenBanner {
    margin-top: 10px;

  }

  .huella {
    width: 25px;
    margin-left: 5px;
  }

  .btnServicios {
    visibility: hidden;
    width: 90px;
    height: 20px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 180px;
    margin-left: -210px;
    border-radius: 50px;
    background-color: blue;
    position: absolute;
    text-align: center;
    padding: 10px;
  }

}


/* Estilos para Escritorio */
@media all and (min-width: 701px) {

  /* Ocultar botón de abrir o cerrar */
  .nav__button,
  .header__button-nav--open {
    display: none;
  }

  /* Adaptar el nav en horizontal */
  .nav__ul {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .tituloDev {
    visibility: hidden;
  }

  .developers {

    visibility: hidden;

  }

  .nav__link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: 0.5s;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .nav__link:hover {
    opacity: 0.5;
  }

  .busqueda {
    display: flex;
    justify-content: space-around;

  }

  #search {
    margin-top: 100px;
    width: 90%;
    padding: 15px;
    border-radius: 50px;
    border: 2px solid #ccc;
    background-image: url('./recursos/search-50.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 40px;
  }

  .iconoBuscador {
    width: 10px;



  }

  .banner {
    display: flex;
    justify-content: space-around;
  }

  .imagenBanner {
    margin-top: 10px;
    min-width: 1100px;

  }

  .btnServicios {
    width: 300px;
    height: 60px;
    text-decoration: none;
    color: white;
    font-size: 34px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 570px;
    margin-left: -700px;
    border-radius: 50px;
    background-color: #157FE6;
    position: absolute;
    text-align: center;
    padding: 15px;
  }

  /* **********  Estilos de Productos Desktop ********** */

  .logo {
    display: flex;
  }

  .header_logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: white;
    align-self: center;
  }

  #hamburguesa {
    font-size: 30px;
    color: white;
    font-weight: bold;
  }




  .products {
    background-color: #157FE6;
    text-align: center;
    height: 40rem;
  }

  .products-title {
    color: white;
    font-size: 150%;
    padding: 2rem 0 2.5rem 0;
  }

  .total-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

  }

  .cards {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 25%;
    height: 14rem;
    /* margin: 0 -2rem 0 3rem; */
    border-radius: 2%;
    box-shadow: rgb(71, 71, 151) 1px 1px 6px 2px;



  }

  .card-img img {
    width: 86%;
    height: 60%;
    margin: 2rem 0rem 1rem 0px;
    box-shadow: lightgray 4px 4px 7px -3px;
    border-radius: 10px;

  }

  .card-description {
    width: 56%;
    height: 50%;
    font-size: .7rem;
    text-align: left;
    margin-top: 1rem 0;
  }

  .card-description h4 {
    color: #157FE6;
    font-size: .8rem;
    text-align: left;
  }

  .stars-cotainer img {
    width: 5%;
  }

  .add-cart {
    background-color: #157FE6;
    color: white;
    width: 60%;
    border-radius: 3px;

  }

  .add-cart img {
    width: 10%;
    margin-left: .2rem;
  }

  .add-cart p {
    padding: .2rem;
    color: white;

  }

  .add-cart a {
    text-decoration: none;
  }






  /* **********  Fin Estilos de Productos Desktop ********** */




  /* Ocultar botón de abrir o cerrar */
  .nav__button,
  .header__button-nav--open {
    display: none;
  }

  .logo {
    position: absolute;
  }

  /* Adaptar el nav en horizontal */
  .nav__ul {
    display: flex;
    list-style: none;
    padding: 0;
    position: absolute;
    margin-left: 30%;
    margin-top: -20px;
  }

  .nav__link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: 0.5s;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .nav__link:hover {
    opacity: 0.5;
  }

  .busqueda {
    display: flex;
    justify-content: space-around;
  }

  #search {
    margin-top: 100px;
    width: 90%;
    padding: 15px;
    border-radius: 50px;
    border: 2px solid #ccc;
    background-image: url('./recursos/search-50.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 40px;
  }

  .iconoBuscador {
    width: 10px;


  }

  .banner {
    display: flex;
    justify-content: space-around;
  }

  .imagenBanner {
    margin-top: 10px;
    min-width: 1100px;

  }

  .btnServicios {
    width: 300px;
    height: 60px;
    text-decoration: none;
    color: white;
    font-size: 34px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 570px;
    margin-left: -700px;
    border-radius: 50px;
    background-color: blue;
    position: absolute;
    text-align: center;
    padding: 15px;
  }



  .logo {
    display: flex;
  }

  .header_logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: white;
    align-self: center;
  }

  #hamburguesa {
    font-size: 30px;
    color: white;
    font-weight: bold;
  }

  .huella {
    width: 20px;
    margin-left: 5px;
  }

  .iconos-s {
    width: 30px;
  }


  /* sección ultimas noticias -- CSS ESCRITORIO  (min-width: 701px)*/


  .ultNoticias {
    gap: 50px;
    width: 86%;
    margin: 100px auto;
    text-align: center;
    box-sizing: border-box;
  }

  .ultNoticias_titulo {
    color: #157FE6;
    font-size: 1.8rem;
  }

  .contenedorNoticias {
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 8px;
  }

  .noticias {
    width: 48%;
    border: solid 1px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 0px 5px 1px rgb(202, 200, 200);
  }

  .noticias p {
    font-size: 1.3rem;
    padding: 0 5px;

  }

  .noticias a {
    text-decoration: none;

  }

  .noticias a:link,
  .noticias a:visited {
    color: #E66420;

  }


  .imagen_noticias {
    width: 98%;
    padding: 4px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;

  }

  .pieNoticias {
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;

  }

  .btn_ultNoticias__footer {
    margin: 35px 0;
    padding: 11px;
    border-radius: 5px;
    font-size: 1.3rem;
    border: none;
  }

  .noticias h6 {
    margin: 3px 0;
    color: #E66420;
    font-size: 1.4rem;
    padding: 0 5px;

  }

  .pieNoticias__left {
    color: #157FE6;
  }

  /* FIN sección ultimas noticias -- CSS ESCRITORIO  (min-width: 701px)*/

  /*Inicio FORMULARIO*/

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .contenedorFormulario {
    display: grid;
    border: 1px solid #E66420;
    border-radius: 10px;
    max-width: 1200px;
    width: 90%;
    padding: 3em 0 3em 3em;
  }

  h4 {
    color: #157FE6;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
  }

  label {
    padding: 0.5em 0.5em 0.5em 0;
    margin: 0.5em 0.5em 0 0.5em;
  }


  input[type=text],
  input[type=email],
  textarea {
    width: 90%;
    border: 1px solid black;
    margin: 1em 0.5em 0 0.5em;
    padding: 0.5em;
    border-radius: 5px;
    resize: vertical;
  }

  textarea {
    margin-bottom: 5%;
    min-height: 100px;
    font-size: 0.9em;
  }


  input[type=submit] {
    background: #E66420;
    color: white;
    border: none;
    border-bottom: solid;
    border-radius: 10px;
    font-size: 1em;
    padding: 0.5em 1em 0.5em 1em;
    margin-right: 2.5em;
    cursor: pointer;
    float: right;
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 2%;
  }

  .col-75 {
    float: left;
    width: 75%;
  }

  /*Fin FORMULARIO*/



  input[type=submit]:hover {
    background: #157FE6;
  }

  /* Estilo del footer*/
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    background-color: #E66420;
    text-align: center;
  }

  .fg {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .socialIcons {
    gap: 10px;
  }

  .socialIcons img {
    width: 40px;
  }

  /* FIN sección ultimas noticias -- CSS ESCRITORIO  (min-width: 701px)*/

}

#contacto {
  margin-bottom: 50px;
}